<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'buttons.dataTables.min.css', :plugin => 'qosqo_bonocreditos' %>
    <%= stylesheet_link_tag 'datatables', :plugin => 'qosqo_bonocreditos' %>
    <%= stylesheet_link_tag 'bonocreditos', :plugin => 'qosqo_bonocreditos' %>
<% end %>

<h2>Ranking de bonocr&eacute;ditos por alumno (Miembros con rol: <%= @rol.name%>)</h2>
<table class="list issues dataTable">
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>B$ (CyC)*</th>
      <th>B$ (RS)*</th>
      <th>B$ (SdI)*</th>
      <th>B$ TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <%@alumnos.each do |alumno|%>
    <tr class="<%= clase_bonocredito_alumno(alumno)%>">
      <td><%=alumno[:user].lastname%></td>
      <td><%=alumno[:user].firstname%></td>
      <td  class="<%= clase_bonocredito(alumno[:bonos_cyc])%>"><%=alumno[:bonos_cyc]%></td>
      <td  class="<%= clase_bonocredito(alumno[:bonos_rs])%>"><%=alumno[:bonos_rs]%></td>
      <td  class="<%= clase_bonocredito(alumno[:bonos_sdi])%>"><%=alumno[:bonos_sdi]%></td>
      <td><%=alumno[:total]%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<p><i>B$(CyC): Bonoc&eacute;dito de tipo Conferencias y Congresos</i></p>
<p><i>B$(RS): Bonoc&eacute;dito de tipo Responsabilidad Social</i></p>
<p><i>B$(SdI): Bonoc&eacute;dito de tipo Semana de la Ingenier&iacute;a</i></p>
<%=javascript_include_tag("datatables.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("moment.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("datetime-moment.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("dataTables.buttons.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("buttons.flash.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("jszip.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("pdfmake.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("vfs_fonts.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("buttons.html5.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("buttons.print.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("bonocreditos", :plugin => 'qosqo_bonocreditos')%>
