<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'buttons.dataTables.min.css', :plugin => 'qosqo_bonocreditos' %>
    <%= stylesheet_link_tag 'datatables', :plugin => 'qosqo_bonocreditos' %>
    <%= stylesheet_link_tag 'bonocreditos', :plugin => 'qosqo_bonocreditos' %>
<% end %>
<h2>Bonocr&eacute;ditos por alumno (Miembros con rol: <%= @rol.name%>)</h2>
<table class="list issues dataTable">
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Conferencias y Congresos</th>
      <th>Responsabilidad Social</th>
      <th>Semana de la Ingenier&iacute;a</th>
      <th>Total Bonocr&eacute;ditos</th>
    </tr>
  </thead>
  <tbody>
    <%@alumnos.each do |alumno|%>
    <tr class="<%= clase_bonocredito_alumno(alumno)%>">
      <td><%=alumno[:user].lastname%></td>
      <td><%=alumno[:user].firstname%></td>
      <td  class="<%= clase_bonocredito(alumno[:bonos_cyc])%>">
        <%=link_to alumno[:bonos_cyc], issues_path(project_id: alumno[:project], set_filter: "1",
                                                    "c"=>["tracker", "status", "subject", "assigned_to", "tipo_bonocredito", "bonocreditos"],
                                                    "f"=>["status_id", "tipo_bonocredito", "assigned_to_id"],
                                                    "op"=>{"status_id"=>"o", "tipo_bonocredito"=>"=", "assigned_to_id"=>"="},
                                                    "v"=>{"tipo_bonocredito"=>["Conferencias y Congresos"], "assigned_to_id"=>[alumno[:user].id]}), class: "bonocredito"%>
      </td>
      <td  class="<%= clase_bonocredito(alumno[:bonos_rs])%>">
        <%=link_to alumno[:bonos_rs], issues_path(project_id: alumno[:project], set_filter: "1",
                                                    "c"=>["tracker", "status", "subject", "assigned_to", "tipo_bonocredito", "bonocreditos"],
                                                    "f"=>["status_id", "tipo_bonocredito", "assigned_to_id"],
                                                    "op"=>{"status_id"=>"o", "tipo_bonocredito"=>"=", "assigned_to_id"=>"="},
                                                    "v"=>{"tipo_bonocredito"=>["Responsabilidad Social"], "assigned_to_id"=>[alumno[:user].id]}), class: "bonocredito"%>
      </td>
      <td  class="<%= clase_bonocredito(alumno[:bonos_sdi])%>">
        <%=link_to alumno[:bonos_sdi], issues_path(project_id: alumno[:project], set_filter: "1",
                                                    "c"=>["tracker", "status", "subject", "assigned_to", "tipo_bonocredito", "bonocreditos"],
                                                    "f"=>["status_id", "tipo_bonocredito", "assigned_to_id"],
                                                    "op"=>{"status_id"=>"o", "tipo_bonocredito"=>"=", "assigned_to_id"=>"="},
                                                    "v"=>{"tipo_bonocredito"=>["Semana de la Ingeniería"], "assigned_to_id"=>[alumno[:user].id]}), class: "bonocredito"%>
      </td>
      <td>
        <%=link_to alumno[:total], issues_path(project_id: alumno[:project], set_filter: "1", "group_by"=>"tipo_bonocredito",
                                                    "c"=>["tracker", "status", "subject", "assigned_to", "tipo_bonocredito", "bonocreditos"],
                                                    "f"=>["status_id", "assigned_to_id"],
                                                    "op"=>{"status_id"=>"o", "assigned_to_id"=>"="},
                                                    "v"=>{"assigned_to_id"=>[alumno[:user].id]})%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<%=javascript_include_tag("datatables.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("moment.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("datetime-moment.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("dataTables.buttons.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("buttons.flash.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("jszip.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("pdfmake.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("vfs_fonts.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("buttons.html5.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("buttons.print.min.js", :plugin => 'qosqo_bonocreditos')%>
<%=javascript_include_tag("bonocreditos", :plugin => 'qosqo_bonocreditos')%>
